
<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta charset="UTF-8">
    <title>Hệ thống quản lý việc làm trên topmass</title>
    <meta content="" name="Hệ thống quản lý việc làm trên topmass">
    <meta content="" name="Hệ thống quản lý việc làm trên topmass">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="/css/custom.css" rel="stylesheet">
    <!-- =======================================================
    * Template Name: NiceAdmin
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Updated: Apr 20 2024 with Bootstrap v5.3.3
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>


</head>
<body>
    @Html.AntiForgeryToken()
    <header id="header" class="header fixed-top d-flex align-items-center">

        <div class="d-flex align-items-center justify-content-between">
            <a href="/" class="logo d-flex align-items-center">
                <img src="assets/img/logo.png" alt="">

            </a>
            <i class="bi bi-list toggle-sidebar-btn"></i>
        </div><!-- End Logo -->


        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">

                <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                        <i class="bi bi-search"></i>
                    </a>
                </li><!-- End Search Icon-->



                <li class="nav-item dropdown pe-3">

                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                        <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle">
                        <span class="d-none d-md-block dropdown-toggle ps-2">Nguyễn Trường Nghĩa</span>
                    </a><!-- End Profile Iamge Icon -->

                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>NghiaNT15</h6>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>

                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="/Infomation">
                                <i class="bi bi-person"></i>
                                <span>Thông tin cá nhân</span>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>





                        <li>
                            <a class="dropdown-item d-flex align-items-center" href="#">
                                <i class="bi bi-box-arrow-right"></i>

                                <span onclick="logout()">Đăng xuất</span>
                            </a>
                        </li>

                    </ul><!-- End Profile Dropdown Items -->
                </li><!-- End Profile Nav -->

            </ul>
        </nav><!-- End Icons Navigation -->

    </header><!-- End Header -->
    <!-- ======= Sidebar ======= -->

    <aside id="sidebar" class="sidebar">

        <ul class="sidebar-nav" id="sidebar-nav">


            <li class="nav-item">
                <a class="nav-link " href="/indexAdmin">
                    <i class="bi bi-grid"></i>
                    <span>Static</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="/">
                    <i class="bi bi-grid"></i>
                    <span>Dashboard</span>
                </a>
            </li><!-- End Dashboard Nav -->

            <li class="nav-heading">Thống kê và báo cáo</li>
            <li class="nav-item">

                <a class="nav-link" href="/OrderStatus">
                    <i class="bi bi-grid"></i>
                    <span>Theo trạng thái</span>
                </a>

            </li><!-- End Components Nav -->

            <li class="nav-item">

                <a class="nav-link" href="/historyImpact">
                    <i class="bi bi-grid"></i>
                    <span> Báo cáo Tác động</span>
                </a>

            </li><!-- End Components Nav -->
            <li class="nav-item">

                <a class="nav-link" href="/OrderOnboard">
                    <i class="bi bi-grid"></i>
                    <span>Danh sách onboard</span>
                </a>

            </li><!-- End Components Nav -->

            
            <li class="nav-heading">Ứng viên</li>

            <li class="nav-item">

                <a class="nav-link" href="/checkDuplicate">
                    <i class="bi bi-grid"></i>
                    <span>Kiểm tra trùng</span>
                </a>

            </li>
            <li class="nav-item">
                <a class="nav-link " data-bs-target="#components-nav" data-bs-toggle="collapse" href="javascript:void(0)" aria-expanded="true">
                    <i class="bi bi-menu-button-wide"></i><span>Quản lý ứng viên</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/OrderNew">
                            <i class="bi bi-circle"></i><span>Danh sách ứng viên </span>

                        </a>
                    </li>



                    <li>
                        <a href="/OrderReturn">
                            <i class="bi bi-circle"></i><span>Danh sách khai thác lại</span>
                        </a>
                    </li>




                </ul>
            </li><!-- End Components Nav -->


            <li class="nav-heading">Ứng tuyển</li>
            <li class="nav-item">
                <a class="nav-link " data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý ứng tuyển</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/OrderApply">
                            <i class="bi bi-circle"></i><span>Danh sách đang process</span>

                        </a>
                    </li>
                    <li>
                        <a href="/OrderClose">
                            <i class="bi bi-circle"></i><span>Danh sách kết thúc</span>

                        </a>
                    </li>

                    @* <li>
                    <a href="/order?action=add">
                    <i class="bi bi-circle"></i><span>Tạo mới đơn</span>

                    </a>
                    </li> *@

                </ul>
            </li>




            <li class="nav-heading">Việc làm</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#forms-job" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-journal-text"></i><span>Quản lý việc làm</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="forms-job" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/job">
                            <i class="bi bi-circle"></i><span>Danh sách Việc làm</span>

                        </a>
                    </li>
                    <li>

                        <a href="/linhvuc">
                            <i class="bi bi-circle"></i><span>Lĩnh vực việc làm</span>

                        </a>
                    </li>

                    <li>
                        <a href="/job?action=add">
                            <i class="bi bi-circle"></i><span>Tạo mới việc làm</span>
                        </a>
                    </li>

                </ul>
            </li>


            <li class="nav-heading">Đối tác và việc làm </li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tabPartner" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý đối tác</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tabPartner" class="nav-content collapse " data-bs-parent="#sidebar-nav2">
                    <li>
                        <a href="/Partner">
                            <i class="bi bi-circle"></i><span>Danh sách đối tác</span>
                        </a>
                    </li>

                    <li>
                        <a href="/Partner?action=add">
                            <i class="bi bi-circle"></i><span>Thêm mới</span>
                        </a>
                    </li>

                </ul>
            </li>



            <!-- End Tables Nav -->


            <li class="nav-heading">Nhân sự</li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-layout-text-window-reverse"></i><span>Quản lý nhân viên</span><i class="bi bi-chevron-down ms-auto"></i>
                </a>
                <ul id="tables-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li>
                        <a href="/Employee">
                            <i class="bi bi-circle"></i><span>Danh sách nhân viên</span>
                        </a>
                    </li>


                    <li>
                        <a href="/groupPage">
                            <i class="bi bi-circle"></i><span>Danh sách nhóm</span>
                        </a>
                    </li>

                </ul>
            </li><!-- End Tables Nav -->


            <li class="nav-heading">Thông tin chung</li>

            <li class="nav-item">
                <a class="nav-link collapsed" href="/Infomation">
                    <i class="bi bi-person"></i>
                    <span>Thông tin tài khoản</span>
                </a>
            </li><!-- End Profile Page Nav -->


            <li class="nav-heading">Hệ thống</li>
            <li class="nav-item">
                <a class="nav-link collapsed" href="/setting">
                    <i class="bi bi-bar-chart"></i><span>Cài đặt</span>

                </a>

            </li><!-- End Charts Nav -->

            <li class="nav-item">
                <a class="nav-link collapsed" href="/StatusPage">
                    <i class="bi bi-bar-chart"></i><span>Danh sách trạng thái</span>

                </a>

            </li><!-- End Charts Nav -->



            <li class="nav-item">
                <a class="nav-link collapsed" onclick="logout()" data-bs-toggle="collapse" href="#">
                    <i class="bi bi-bar-chart"></i><span>Đăng xuất tài khoản</span>

                </a>

            </li><!-- End Charts Nav -->


        </ul>

    </aside>
    



    <main id="main" class="main">
        @RenderBody()
        <form style="display:none" method="post" asp-page="index" asp-page-handler="LogOut">
            <input type="submit" id="logoutSubmit">
        </form>
    </main><!-- End #main -->

    <footer id="footer" class="footer">

        <div class="credits">
            Designed by <a href="javascript:void(0)">Vietstar</a>
        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <!-- Vendor JS Files -->
    <script src="assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="assets/vendor/chart.js/chart.umd.js"></script>
    <script src="assets/vendor/echarts/echarts.min.js"></script>
    <script src="assets/vendor/quill/quill.js"></script>
    <script src="assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->

    <script src="assets/js/main.js"></script>
    <script src="/js/jquery-3.7.1.min.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/employer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="assets/vendor/tinymce/tinymce.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/i18n/defaults-*.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
