
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <style>
    
     
    </style>
</head>
<body>

<div class="content">
           <p>Chào bạn <strong>{fullName} </strong>,</p>
           <p>  Chúng tôi trân trọng kính mời bạn đến tham gia buổi phỏng vấn của công ty chúng tôi tại:

            Thời gian: [Ngày], [Thời gian]
            Địa điểm: [Địa chỉ Công ty]
            Ngôn ngữ phỏng vấn: [Ngôn ngữ]
              <p> 
                 Thời gian: 04/03/2024  10:00
                </p>
                <p> 
                Địa điểm: 04/03/2024  10:00
                </p>
              
            </br>
            <p>(Lưu ý link chỉ có hiệu lực trong vòng 60 phút)</p>
            <p>Mọi thắc mắc vui lòng liên hệ bộ phận hỗ trợ:</p>
         
            <div>
              <span>Email hỗ trợ: </span> <a href="mailto:support@topmass.vn">Support@topmass.vn</a>
            </div>
            <div>
              <span>Điện thoại: </span> <a href="tel:+028 71000 5550">028 71000 555</a>
            </div>
            
    
</div>
<div class="footer">
  <p>Trân trọng,</p>
  <p>Phòng Dịch vụ Khách hàng,</p>
</div>

<style>
.colorsi{
  color: #0070C0 ;
}
.sinature strong {
  font-weight: 500;
}
.sinature .nameCompany {
  font-weight: bold;
  font-size: 14px;
}
.sinature p {
  color: #222222;
}

.nameCompany{
  color: #0070C0;
}
</style>


----------------------------------------------------
<div class ="sinature"> 

  <span class="colorsi nameCompany">Công ty cổ phần tập đoàn Vietstar </span></br>
  <p> <strong class="colorsi"> Địa chỉ: </strong> 54/31 Đ. Phổ Quang, Phường 2, Tân Bình, Thành phố Hồ Chí Minh, Việt Nam  </p>
  <p> <strong class="colorsi"> Tel: </strong> (+84) 2871 000 555  </p>
  <p> <strong class="colorsi"> Mobile: </strong>0866.823.799 – 028.7100555  </p>
  <p> <strong class="colorsi"> Website: </strong> www.vietstargroup.vn  </p>
  <img src ="https://topmass.vn/sinatureMail.jpg">

</div>
</body>
</html>